body
  font-family: sans-serif
  color: #333
  margin: 0
  background-color: #333
  padding: 2rem

main
  width: 100%
  max-width: 800px
  margin: 0 auto
  background-color: #eaeaea
  padding: 2rem
  box-sizing: border-box

.slam-wrap
  overflow: hidden
  position: relative
  width: 100%
  height: 400px

.slam-items
  list-style-type: none
  padding: 0
  margin: 0
  width: 300%
  height: 100%
  font-size: 0

.slammer-transitioning
  transition-property: transform
  transition-duration: .4s

.slam-item
  display: inline-block
  width: (1/3)*100%
  height: 100%
  overflow: hidden
  text-align: center
  -webkit-user-drag: none
  user-drag: none
  > img
    width: 100%
    height: auto
    -webkit-user-drag: none
    user-drag: none
